<% title "Picture" %>

<p>
  <strong>Name:</strong>
  <%=h @picture.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @picture.description %>
</p>
<p>
  <strong>Picture Filename:</strong>
  <%=h @picture.picture_filename %>
</p>
<p>
  <strong>Picture Content Type:</strong>
  <%=h @picture.picture_content_type %>
</p>
<p>
  <strong>Picture File Size:</strong>
  <%=h @picture.picture_file_size %>
</p>
<p>
  <strong>Imagable Type:</strong>
  <%=h @picture.imagable_type %>
</p>
<p>
  <strong>Imagable:</strong>
  <%=h @picture.imagable_id %>
</p>

<p>
  <%= link_to "View All", admin_pictures_path %>
</p>
