<% title "Keywords" %>

<p>
  <strong>Name:</strong>
  <%=h @keywords.name %>
</p>
<p>
  <strong>Patern:</strong>
  <%=h @keywords.patern %>
</p>
<p>
  <strong>Tag</strong>
  <%=h @keywords.tag %>
</p>
<p>
  <strong>As:</strong>
  <%=h @keywords.as %>
</p>

<p>
  <%= link_to "View All", admin_keywords_path %>
</p>
