<% render :partial => '/admin/navigations/items' %>
<% title t('.title') %>

<table>
  <tr>
    <th><%= RoadType.model_name.human(:name => "name")%> </th>
    <th><%= t("status", :scope => [:admin, :road_types])%> </th>
  </tr>
  <% for road_type in @road_types %>
    <tr>
      <td><%= link_to image_tag("edit.png", :class => :icon) + h(road_type.name), edit_admin_road_type_path(road_type) %></td>
      <td><%= road_type.active == true ? t("active", :scope => [:admin, :road_types]) : t("unactive", :scope => [:admin, :road_types]) %></td>
      <td><%= link_to t("Delete", :scope =>[:admin, :dashboard]), [:admin, road_type], :confirm => t('Are you sure?'), :method => :delete, :class => "action delete" %></td>
    </tr>
  <% end %>
</table>
<br />
<p>
  <%= link_to t(".add"), new_admin_road_type_path,
          :class => "action new" %>
  
</p>
