<% render :partial => '/admin/navigations/items' %>
<% title t('.title') %>

<table>
  <tr>
    <th><%= t("name", :scope => [:admin, :offer_types])%> </th>
    <th><%= t("status", :scope => [:admin, :offer_types])%> </th>
    <th>Tag</th>
  </tr>
  <% for offer_type in @offer_types %>
    <tr>
      <td><%= link_to image_tag("edit.png", :class => :icon) + h(offer_type.name), edit_admin_offer_type_path(offer_type) %></td>
      <td><%= offer_type.active == true ? t("active", :scope => [:admin, :offer_types]) : t("unactive", :scope => [:admin, :offer_types]) %></td>
      <td><%= offer_type.tag %></td>
      <td><%= link_to t("Delete", :scope =>[:admin, :dashboard]), [:admin, offer_type], :confirm => t('Are you sure?'), :method => :delete, :class => "action delete" %></td>
    </tr>
  <% end %>
</table>
<br />
<p>
  <%= link_to t(".add"), new_admin_offer_type_path,
          :class => "action new" %>
  
</p>
<%= will_paginate @offer_types %>
