<% render :partial => '/admin/navigations/items' %>
<% title t('.title') %>

<table>
  <tr>
    <th><%= InfrastructureType.model_name.human(:name => "name")%> </th>
    <th><%= t("status", :scope => [:admin, :infrastructure_types])%> </th>
  </tr>
  <% for infrastructure_type in @infrastructure_types %>
    <tr>
      <td><%= link_to image_tag("edit.png", :class => :icon) + h(infrastructure_type.name), edit_admin_infrastructure_type_path(infrastructure_type) %></td>
      <td><%= infrastructure_type.active == true ? t("active", :scope => [:admin, :infrastructure_types]) : t("unactive", :scope => [:admin, :infrastructure_types]) %></td>
      <td><%= link_to t("Delete", :scope =>[:admin, :dashboard]), [:admin, infrastructure_type], :confirm => t('Are you sure?'), :method => :delete, :class => "action delete" %></td>
    </tr>
  <% end %>
</table>
<br />
<p>
  <%= link_to t(".add"), new_admin_infrastructure_type_path,
          :class => "action new" %>
  
</p>
