<% title h(t ".title") %>

<p>
  <strong><%= h ContactCategory.human_attribute_name("name") %></strong>
  <%=h @sphere.name %>
  <strong><%= h ContactCategory.human_attribute_name("active") %></strong>
  <%=h @sphere.active %>
</p>


<p>
  <%= link_to h(t :edit), edit_admin_contact_category_path(@sphere) %> |
  <%= link_to h(t :delete), [:admin, @sphere], :confirm => t(:confirm_delete), :method => :delete %> |
  <%= link_to h(t ".index"), admin_contact_categories_path %>
</p>
