<div id="admin_cities">
  <script type="text/javascript">
    jQuery(function($) {

      $("#admin_cities #country_id").change(function(event) {
        element = $(event.target);
        var input_value = element.val();
        var input_id = element.attr("id");
        var data = {
          country_id: input_value
        };
        $.ajax({
          // type:"POST",
          url: '<%= load_districts_admin_cities_path() %>',
          data: data,
          cache: false,
          async: false,
          success: function (html) {
            // $('#property_type_keywords').html(html);
          }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
        return false;
      });
      
      $("#admin_cities #district_id").change(function(event) {
        element = $(event.target);
        var input_value = element.val();
        var input_id = element.attr("id");
        var data = {
          district_id: input_value
        };
        $.ajax({
          // type:"POST",
          url: '<%= load_municipalities_admin_cities_url() %>',
          data: data,
          cache: false,
          async: false,
          success: function (html) {
            // $('#property_type_keywords').html(html);
          }
        });
        event.preventDefault();
        event.stopImmediatePropagation();
        return false;
      });
    })
  </script>
  <% render :partial => '/admin/navigations/items' %>
  <% title h(t ".title") %>

  <%= form_tag admin_cities_url, :method => 'get', :class => 'nomenclature_search_form' do %>
    <%= hidden_field_tag "page", params[:page] if params[:page] %>
    <%= hidden_field_tag "order", params[:order] if params[:order] %>
    <div>
      <%= label_tag "country_id", Country.model_name.human(:name => "name")%>
      <%= select('',"country_id", Country.all.collect{|d| [d.name, d.id]}, {:include_blank => t(:chose), :select => params[:country_id]}, {:id => 'country_id', :style => "width:120px"}) %>
    </div>
    <div>
      <%= label_tag "district_id", District.model_name.human(:name => "name")%>
      <%= select('',"district_id", District.all.collect{|d| [d.name, d.id]}, {:include_blank => t(:chose), :select => params[:district_id]}, {:id => 'district_id', :style => "width:120px"}) %>
    </div>
    <div>
      <%= label_tag "municipality_id", Municipality.model_name.human(:name => "name")%>
      <%= select('',"municipality_id",[], {:include_blank => false}, {:id => 'municipality_id', :style => "width:120px"}) %>
    </div>
    <div>
      <%= label_tag "name", City.model_name.human(:name => "name")%>
      <%= text_field_tag "name",  params[:name], :style => "width:120px" %>
    </div>

    <div>
      <%= submit_tag t(:search) %>
      <%= link_to t(:clear),nil, :onclick => "
  $('name').value = '';
  $F('district_id').value = '0',
  $F('municipality_id').value = '0'
  $F('country_id').value = '0'
      "%>
    </div>
  <% end %>

  
  <table>
    <tr>
      <th><%= h Country.model_name.human({:name => "name"}) %></th>
      <th><%= h District.model_name.human({:name => "name"}) %></th>
      <th><%= h Municipality.model_name.human({:name => "name"}) %></th>
      <th><%= h City.model_name.human({:name => "name"}) %></th>
    </tr>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.municipality.district.country.name, admin_country_path(city.municipality.district.country) %></td>
        <td><%= link_to city.municipality.district.name, admin_district_path(city.municipality.district) %></td>
        <td><%= link_to city.municipality.name, admin_municipality_path(city.municipality) %></td>
        <td><%= link_to image_tag("edit.png", :class => :icon) + h(city.name_with_type), edit_admin_city_path(city) %></td>
        <td><%= link_to h(t :delete), [:admin, city], :confirm => t('Are you sure?'), :method => :delete, :class => "action delete" %></td>
        <td><%= link_to h(t ".quarters"), admin_city_quarters_path(city) %></td>
      </tr>
    <% end %>
  </table>

  <p><%= link_to h(t ".add"), new_admin_city_path,
      :class => "action new" %>
  </p>
  <%= will_paginate @cities  %>

  <%= render :partial => 'admin/nomenclature/admin/countries/help' %>
</div>