<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%=
    stylesheet_link_tag 'admin',
      'calendar',
      'application',
      'themes/redmond/formtastic.css',
      'themes/redmond/ui.autocomplete.css',
      #'fg.menu.css',
    "superfish/superfish.css",
      "superfish/superfish-navbar.css",
      "dropdown/dropdown.css", # another dropdown menu
    'jquery.autocomplete.css',
      "tipsy.css", # http://onehackoranother.com/projects/jquery/tipsy/
    'calendar',
      'nyroModal/nyroModal.full.css', # http://nyromodal.nyrodev.com/
    :media => "all",
      :cache => "cached_css"

  %>
    <%= yield(:head) %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="container">

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%- if show_title? -%>
        <h2><%=h yield(:title) %></h2>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>
